<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>QeNoBi</title>
    <link href="../QeNoBiApp/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../QeNoBiApp/assets/fonts/fontawesome-all.min.css" rel="stylesheet">
    <link href="../QeNoBiApp/assets/css/untitled.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
          rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

</head>

<body class="text-dark " id="page-top">
<div style="max-height: 100%;background: #F5F9FB" id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0 h-100"
         style="background: #005086">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="">
                <div class="sidebar-brand-text mt-5 ">
                    <p class="mt-5" style="font-size: 42px;">QeNoBi</p>
                </div>
            </a>
            <div class="nav mt-5 navbar-nav text-light w-100 h-100" id="accordionSidebar">
                <div class="row m-0 p-0 w-100">
                    <div class="col m-2 ml-4 mt-0 mb-2 p-0 w-100">
                        <p class="mb-3" style="font-size: 30px;">Dataset</p>
                        <div class=" dataset-buttons text-white" style="width: 90%">
                            <button class="dataset-button1 text-white bg-transparent active mb-3" type="button">Retail
                            </button>
                            <button class="dataset-button2 text-white bg-transparent border-0 " type="button">Amazon
                            </button>
                        </div>
                    </div>
                    <hr class="bg-white w-75 mb-3 mt-3">
                    <div class="customercentric row text-black align-items-center justify-content-center w-100 text-white p-0 m-0"
                         id="customer-centric-selection">
                        <div class="sidebar-elem">
                            <div class="mb-3">
                                <p style="font-size: 30px;">Sankey</p>
                            </div>
                            <div>
                                <p>Demographics</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected value="13">Gender</option>
                                    <option selected value="11">Age</option>
                                    <option value="12">Location</option>
                                    <option value="12">Occupation</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Product</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected value="13">Category</option>
                                    <option value="12">Price</option>
                                    <option value="12">Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Support</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <optgroup label="Male">
                                        <option selected="" value="12">10</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p> Time granularity</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">Monthly</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Min products</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">3</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Max products</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <optgroup label="Male">
                                        <option selected="" value="12">10</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="productcentric row text-black align-items-center justify-content-center w-100 text-white p-0 m-0"
                         id="product-centric-selection" style="display: none">
                        <div class="sidebar-elem">
                            <div class="mb-3">
                                <p style="font-size: 30px;">Time series</p>
                            </div>
                            <div>
                                <p>Product category</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">Hand Sanitizer</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Product name</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">Beauty&Health</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Granularity</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">Weekly</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Customers</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">120 Males, <35</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column h-100 m-3 h-100" style="background: #F5F9FB !important;" id="content-wrapper">
        <div class="row m-1 p-0" style="border: 0.1px solid lightgray;">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a aria-selected="true" class="nav-item  text-dark nav-link active" data-toggle="tab"
                       href="#tab-1" id="customer-centric-tab"
                       role="tab">Customer-Centric</a>
                    <a aria-selected="false" class="nav-item  text-dark nav-link" data-toggle="tab" href="#tab-2"
                       id="product-centric-tab" role="tab">Product-Centric</a>
                </div>
            </nav>
            <div class="col-12 tabscontent mb-0 p-0 tab-content  ">
                <div class="tab-pane active p-0 mb-1 h-100" id="tab-1" role="tabpanel">
                    <div class="row m-auto align-items-center ">
                        <div class="col-10 p-0 bg-white " id="sankeyDiagram"
                             style="position:relative; height: 55vh;min-width: 200px">
                        </div>
                        <div class="col-2 " style="border-left: 5px solid #005086">
                            <div class="col m-0 border-primary">
                                <p class=" text-center text-primary p-0 m-1 " style="font-size: 30px;">Group details</p>
                            </div>
                            <div class="table table-sm table-striped   text-dark ">
                                <table class="table">
                                    <thead class="indigo text-dark">
                                    </thead>
                                    <tbody>
                                    <tr class="text-dark">
                                        <th class="">ID</th>
                                        <td>G7</td>
                                    </tr>
                                    <tr class="text-dark">
                                        <th class="">Description</th>
                                        <td>14 Males,&lt;35, Hand Sanitizer</td>
                                    </tr>
                                    <tr class="text-dark">
                                        <th class="">Period</th>
                                        <td>Oct 2017</td>
                                    </tr>
                                    <tr class="text-dark">
                                        <th class="">#Incoming links</th>
                                        <td class="">2</td>
                                    </tr>
                                    <tr class="text-dark">
                                        <th class="">#Outgoing links</th>
                                        <td class="">4</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-0 -lg productcentric h-100 align-items-end justify-content-end" id="tab-2"
                     role="tabpanel">
                    <div class="row h-100 w-100 align-items-end justify-content-end ">
                        <div class="align-items-end mt-2 ">
                            <div class="w-100"></div>
                            <strong class="col-12 align-items-end justify-content-end">Smoothing Iteration : </strong>
                            <span class="col-1" id="smoothIterationValue">0</span>
                            <input id="smoothingIterationPicker" max="10" min="0" type="range" value="0">
                        </div>
                        <div class="col-12 w-100" id="timeSeries"
                             style="position:relative;height: 53vh">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tabscontent   h-75 mb-4 m-1 p-0" style="border: 0.1px solid lightgray">
            <div class="col-8 " style="background: white">
                <div class="row w-100 m-0 p-0">
                    <div class="col-12 p-0 m-0">
                        <p class="customercentric text-center text-primary p-0 m-1" style="font-size: 30px;">Query on
                            Sankey</p>
                        <p class=" productcentric text-center text-primary p-0 m-1" style="font-size: 30px;">Query on
                            Time
                            series </p>
                    </div>
                    <div class="col query-input">
                        <p class="ml-1" style="font-size: 25px;">Shape</p>
                        <canvas class=" bg-success m-1" id="myCanvas"></canvas>
                    </div>
                    <div class="col query-input">
                        <p class="ml-0" style="font-size: 25px;">Customers</p>

                        <div class="sidebar-elem">
                            <div>
                                <p>Gender</p>
                            </div>
                            <div>
                                <select class=" form-control text-dark" multiple="multiple">
                                    <option selected="" value="12">Male</option>
                                    <option value="13">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Age</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12"><35</option>
                                    <option value="13">35-49</option>
                                    <option value="14">>49</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div><p>Location</p></div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option value="12" selected="">Paris</option>
                                    <option value="13" selected="">Marseille</option>
                                    <option value="14" selected="">Grenoble</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Occupation</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">ALL</option>
                                    <option value="12">Student</option>
                                    <option value="13">Doctor</option>
                                    <option value="14">Salesman</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col query-input">
                        <p class="ml-0" style="font-size: 25px;">Products</p>
                        <div class="sidebar-elem">
                            <div>
                                <p>Category</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option selected="" value="12">ALL</option>
                                    <option value="13">Snacks</option>
                                    <option value="14">Beauty&Health</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Name</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option value="12">Hand Sanitizer/</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col query-input">
                        <p class="ml-0" style="font-size: 25px;">Time</p>
                        <div class="sidebar-elem">

                            <div>
                                <p>Time span</p>
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple">
                                    <option value="12">1 (Week)</option>
                                    <option value="12">2 (Weeks)</option>
                                    <option value="12">3 (Weeks)</option>
                                    <option selected="" value="12">4 (Weeks)</option>
                                    <option value="13">2 (weeks)</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-elem">
                            <div>
                                <p>Tolerance</p>
                            </div>
                            <div>
                                <select class="form-control text-dark">
                                    <option value="13">±1 (Week)</option>
                                    <option value="13">±2 (Weeks)</option>
                                    <option value="13">±3 (Weeks)</option>
                                    <option selected="" value="12">±30 (days)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="resultscontainer" class=" col card m-0 -lg ml-2">
                <p class=" text-center text-primary m-1 p-0" style="font-size: 30px;">Query Results</p>
                <div class="customercentric table-responsive table indigo text-dark h-100 w-100 mb-1 p-0"
                     id="resultsSankey">
                    <table class="table  table-striped  ">
                        <thead class="text-dark">
                        <tr>
                            <th>Group</th>
                            <th>Description</th>
                            <th>Period</th>
                        </tr>
                        </thead>
                        <tbody class="text-dark ">
                        <tr>
                            <td>G0</td>
                            <td>9 Males, &lt;35, COCA COLA &amp; CHOCOLATE BAR</td>
                            <td>Jan 2017</td>
                        </tr>
                        <tr>
                            <td>G7</td>
                            <td>14 Males, <35, Hand Sanitizer</td>
                            <td>Oct 2017</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" productcentric  table-responsive table indigo text-dark mb-1 p-0"
                     id="resultsTimeSeries">
                    <table class="table table-striped">
                        <thead class="text-dark">
                        <tr>
                            <th>Score</th>
                            <th>Period</th>
                            <th>#Customers</th>
                            <th>Duration</th>
                        </tr>
                        </thead>
                        <tbody class="text-dark">
                        <tr>
                            <td>0.55</td>
                            <td>31 Dec 2018</td>
                            <td>31</td>
                            <td>4 Weeks</td>
                        </tr>
                        <tr>
                            <td>0.83</td>
                            <td>Jul 2017</td>
                            <td>20</td>
                            <td>5 Weeks</td>
                        </tr>
                        <tr>
                            <td>0.21</td>
                            <td>24 Sep 2017</td>
                            <td>28</td>
                            <td> 13 Weeks</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<script src="../QeNoBiApp/assets/js/jquery.min.js">
</script>
<script src="../QeNoBiApp/assets/bootstrap/js/bootstrap.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.js">
</script>
<script src="../QeNoBiApp/assets/js/echarts.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js">
</script>
<script src="../QeNoBiApp/assets/js/theme.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js"></script>


<script src="../QeNoBiApp/assets/js/ui_interactions.js">
</script>
<script src="../QeNoBiApp/assets/js/sankeyDiagram.js">
</script>
<script>
    let a = document.getElementById('smoothingIterationPicker')
    a.oninput = function () {
        document.getElementById('smoothIterationValue').innerHTML = this.value
    }
</script>
<script type="text/paperscript" src="../QeNoBiApp/assets/js/queryCanvas.js" canvas="myCanvas"></script>
</body>

</html>